.Node > circle {
    stroke-width:.05em;
    stroke:black;
    fill: white;
}

.Node:hover {
    cursor: pointer;
}

.Node:hover > circle {
    fill:lightblue;
}

.Node:hover > text {
    font-weight: bolder;
}

line {
    stroke-width:.05em;
    stroke:black;
}

.box {
    display:flex;
    flex-direction: row;
}

#mini {
    /* width:100%; */
    display:flex;
    flex-direction: column;
    max-height:24em;
    overflow-y: scroll;
    overflow-x:hidden;
}

#table {
    width:fit-content;
}

.row {
    border-color:grey;
    border-style:inset;
    border-width:.05em;
    display:flex;
    flex-direction:row;
}

.row > * {
    min-width: 33%;
}

.row:hover {
    background-color: lightblue;
    cursor:cell;
}

.corr > circle {
    fill: lightblue;
}

.cell {
    border-color:grey;
    border-style:inset;
    border-width:.05em;
    text-align:center;
}

.label {
    position:sticky;
    display:flex;
    flex-direction:row;
}

.label > * {
    border-color:grey;
    background-color: lightgrey;
    border-radius: .05em;
    border-style:inset;
    width:33%;
}